.random-character {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 250px;
}

.random-character .character-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  /* margin-right: 1rem; */
  /* margin-left: 23px; */
}

.random-character .title {
  /* margin-left: 50px; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

.random-character .title h4{
  padding-top: 10px;
}
.random-character .list-group {
  margin: 0 0 0 1rem;
}

.random-character .list-group-item {
  padding: .25rem;
}

.random-character .list-group-item .term {
  margin-right: .5rem;
}